.mat-card{
    width: 30rem;
}

img {  margin-left: 100px; }

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  button{
      width: 28rem;
  }

  .text-color{
      color: #6364A7
  }

  .btn-color{
      background-color: #6364A7;
      color: white;
  }